language: php
php:
- '5.6'
- '7.0'
- nightly
env:
  matrix:
    secure: IoNjhY2Cc2Inv2mbLmNXOBIP6gPNGNqe+Ja4CDGuDl8J2UQJbgQP1Oi+Y0fyTBnAjjp4kjDMQnYd+XuDxlMVyYlIImX+c5kBMeiae6qNOegg+2FGoOyvojSaokhc4mXVizZ3/AvLgvAporjK7/CRSx3+qNfJLFQ/vuYmWiJMVLNbDUXO3xeiqYdPo/HXlUabfoTdgJV8MYkfGQH9tpU1/uXE2ttr/KAZmqs8vWe0bByluZIpgtpcHuyGUv6W2sBFOC/mRBnW+z8FVyrRmDNQ9Sig8hSfKq1UVq070jHs2WTkQAyd6PEfm2ElkVNHlOZPzQymdmVARZEuAmDljWV1b21r6QY6kfQmtytJXACR/2A1vQ9xZxMBzkAFHEt/Xd9zsHgESMgAKbOEHd6m/wFJTUsVKRkDpbLyALfKDoUffTj/7ZHtDAecIQFDrVC5BXafm00tv99AUlbG6dtdPPWxuRxLeS23rm0jyp/dR9UgK/K2gEDUfsanxCizNeoyZLguhi7uHhDUQ0mqKej8toBpI+vGvm2ARJKrekjvahbXqqnh3G+cWgKlihI3XOfwgt0A308WKZw+iPmu3r5k77N1l/I386sE1b35oBSHTT02s6ohfxehowvQFOk9WZx3ip+rvQV6AikoYSkM5jP3qHWQ/b2VxEFNiEDhmdIogCQJZbw=
install: composer install --dev
notifications:
  slack:
    secure: GQXj8rWtu5rgdP/RQuzSf7gzFFtb3FLkKF9piPjNlzBffmSlA9TK9/t42LMNMVIOpkOA5XOlK06+9y6N25tzTL/z+CKlm9jDyfOwDjXds70RzTl4Y038sN7R3GPQWusFqstHMQVgXaLcjj9QZ45KIdbObqUkdRvcEAI8Fp45edJOnyTiNxaBC0G4af3QgWXOwuZQC5z553jDnMUs6cZ40YNT4fBpgCovJRL3iS1PcCqQhGllbzCtZYr4m4rNuSb0r321pj2RWS6V8yiWaaQ9l8PzjOolo11gT26Mjq41KMHa9t4LU/OfQoA8+Ln1fyq6Y8mcFgzvDrso0lwZ6GslM3DgAeZPZ2n6rQHp2w6o7NLZXBs2Omo9W15jj2NqAbtrvYQ3nDKDFFjXeUfhVvNSu4zs31RfqWQbfz0pt8fXNaIOKAIiGamk/s4BT473OkxxqxH+cGt9D27KtXEPO4Sfzb6m0Z5ZB+JG0W8LdxdfmpHJgNU+cxJwPxZxQsOojp9GLJUS7o3+PFocv2B53Iq4zy9IpX7Muku6FBchuVRZvYhOFaYksVXXsj+NSyIc1mYHqHfVLyvWW2Q7aQu/fCxntQTgD63WD94ig6rodqFEvCFjaWquQpafaLNddb/cuyst1Uz/25HlIVA3U3YU6Qy0OQhUYdaRw/FHrX30ypgY1ao=
